
    
    <div class="o-section bg-gray">            
        <div class="o-wrap o-wrap--narrow">
            <div class="c-accordion js-fadeIn">
                <ol class="o-accordion js-accordion js-fadeInChildren">
                    <li class="is-active is-rollout js-item">
                        <h4>Harmonijny rozwój</h4>
                        
                        <div class="js-section">
                            <section>
                                <p>harmonijny rozwój polskich gmin, powiatów i województw w oparciu o sprawną współpracę na linii rządsamorządy i dobre prawodawstwo, mające na celu zwiększanie dobrobytu obywateli i wspólnot lokalnych.</p>
                            </section>
                        </div>
                    </li>

                    <li class="js-item">
                        <h4>Propagowanie idei samorządności</h4>
                        
                        <div class="js-section">
                            <section>
                                <p>harmonijny rozwój polskich gmin, powiatów i województw w oparciu o sprawną współpracę na linii rządsamorządy i dobre prawodawstwo, mające na celu zwiększanie dobrobytu obywateli i wspólnot lokalnych.</p>
                            </section>
                        </div>
                    </li>
                    
                    <li class="js-item">
                        <h4>Współpraca środowisk samorządowych</h4>
                        
                        <div class="js-section">
                            <section>
                                <p>harmonijny rozwój polskich gmin, powiatów i województw w oparciu o sprawną współpracę na linii rządsamorządy i dobre prawodawstwo, mające na celu zwiększanie dobrobytu obywateli i wspólnot lokalnych.</p>
                            </section>
                        </div>
                    </li>
                    
                    <li class="js-item">
                        <h4>Urzeczywistnienie zapisów konstytucji</h4>
                        
                        <div class="js-section">
                            <section>
                                <p>harmonijny rozwój polskich gmin, powiatów i województw w oparciu o sprawną współpracę na linii rządsamorządy i dobre prawodawstwo, mające na celu zwiększanie dobrobytu obywateli i wspólnot lokalnych.</p>
                            </section>
                        </div>
                    </li>
                    
                    <li class="js-item">
                        <h4>Wzmacnianie społeczeństwa obywatelskiego</h4>
                            
                        <div class="js-section">
                            <section>
                                <p>harmonijny rozwój polskich gmin, powiatów i województw w oparciu o sprawną współpracę na linii rządsamorządy i dobre prawodawstwo, mające na celu zwiększanie dobrobytu obywateli i wspólnot lokalnych.</p>
                            </section>
                        </div>
                    </li>
                    
                    <li class="js-item">
                            <h4>Promocja współpracy międzysektorowej</h4>
                        
                        <div class="js-section">
                            <section>
                                <p>harmonijny rozwój polskich gmin, powiatów i województw w oparciu o sprawną współpracę na linii rządsamorządy i dobre prawodawstwo, mające na celu zwiększanie dobrobytu obywateli i wspólnot lokalnych.</p>
                            </section>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
