
    <div class="c-priorities">
        <div class="o-section bg-red text-white">
            <div class="o-wrap">
                <header class="o-header">
                    <h2>Materiały do pobrania</h2>
                </header>               
            </div>
            
            <div class="o-wrap o-wrap--narrow">
                <div class="o-cols o-cols--3">
                    <a href="#" class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/assets/download-01.svg") %> alt="">
                            <figcaption>Członkowie stowarzyszenia</figcaption>
                        </figure>
                    </a>
                    
                    <a href="#" class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/assets/priorytet-02.svg") %> alt="">
                            <figcaption>Poradnik<br> Jak dołączyć</figcaption>
                        </figure>
                    </a>
                    
                    <a href="#" class="o-cols__item">
                        <figure>
                            <img src=<%= require("./img/assets/priorytet-03.svg") %> alt="">
                            <figcaption>Deklaracja członkowska</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
