
    <div class="c-download">
        <div class="o-section bg-gray">
            <div class="o-wrap">
                
                <div class="o-cols o-cols--2_1 no-anim">                
                    <header class="o-header">
                        <h2>Stanowiska Stowarzyszenia</h2>
                    </header>
                    
                    <div class="o-cols__item">
                        <ul class="o-download">
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                            
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                            
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                            
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                            
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="o-cols__item o-cols__item--alignright o-cols__item--padding">
                        <img src=<%= require("./img/assets/tv.svg") %> alt="">
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="o-section bg-red text-white">
            <div class="o-wrap">                
                <div class="o-cols o-cols--1_2 no-anim">
                    <header class="o-header">
                        <h2>Opracowania merytoryczne</h2>
                    </header>
                
                    <div class="o-cols__item">
                        <img src=<%= require("./img/assets/doc.svg") %> alt="">
                    </div>
                    
                    <div class="o-cols__item">
                        <ul class="o-download">
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                            
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                            
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                            
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                            
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="o-section bg-gray">
            <div class="o-wrap">                
                <div class="o-cols o-cols--2_1 no-anim">
                    <header class="o-header">
                        <h2>Stanowiska Stowarzyszenia</h2>
                    </header>
                    
                    <div class="o-cols__item">
                        <ul class="o-download">
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                            
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                            
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                            
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                            
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="o-cols__item o-cols__item--alignright o-cols__item--padding">
                        <img src=<%= require("./img/assets/download-02.svg") %> alt="">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
