
    <footer class="c-footer">
        <div class="o-wrap">
            
            <div class="o-cols">
                <div class="o-cols__item">
                    <div class="o-row">
                        <p>kontakt</p>
                    </div>
                    
                    <div class="o-row">
                        <p>e-mail: <a href="mailto:zarzad@samorzadydlapolski.pl">zarzad@samorzadydlapolski.pl</a></p>
                    </div>
                </div>
                
                <div class="o-cols__item">
                    <div class="o-row">
                        <p>materiały do pobrania</p>
                    </div>
                    
                    <div class="o-row">
                        <div class="o-download o-cols o-cols--3">
                            <div class="o-cols__item">
                               <a href="#">Statut<br> stowarzyszenia</a> 
                            </div>
                            
                            <div class="o-cols__item">
                               <a href="#">Statut<br> stowarzyszenia</a> 
                            </div>
                            
                            <div class="o-cols__item">
                               <a href="#">Statut<br> stowarzyszenia</a> 
                            </div>
                            
                            <div class="o-cols__item">
                               <a href="#">Statut<br> stowarzyszenia</a> 
                            </div>
                            
                            <div class="o-cols__item">
                               <a href="#">Statut<br> stowarzyszenia</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>
