
    <div class="o-section bg-red text-red">
        <div class="o-wrap">        
            <div class="o-cols o-cols--2_1">
                <div class="o-cols__item">
                    <img src=<%= require("./img/assets/invest.svg") %> alt="">
                </div>
                
                <div class="o-cols__item o-cols__item--verticalmiddle">
                    <header class="o-header">
                        <h2>Lorem ipsum dolor sit amet</h2>
                    </header>
                    
                    <article class="o-article">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
