
    <div class="o-section bg-gray">
        <div class="o-wrap">
            <header class="o-header">
                <h2>Dołącz do stowarzyszenia<br>w kilku krokach</h2>
            </header>
            
            <div class="o-cols o-cols--1_2 no-anim">
                <div class="o-cols__item">
                    <article class="o-article">
                        <p>Jeżeli jesteście zainteresowani włączeniem się w nasze działania, serdecznie zachęcamy Was do wypełnienia deklaracji członkowskiej. W celu uzyskania niezbędnej rekomendacji, skontaktujcie się e-mailowo z którymś z członków-założycieli Stowarzyszenia; listę znanych Wam samorządowców z Waszej okolicy znajdziecie na stronie. Skany wypełnionych deklaracji prześlijcie e-mailem na adres: zarzad@samorzadydlapolski.pl. Powiadomimy Was niezwłocznie o decyzji Zarządu. Możliwość wypełnienia deklaracji członkowskiej będzie także na spotkaniach w województwach. Informacje o najbliższych spotkaniach zamieścimy na bieżąco na naszym fanpage: https://www.facebook.com/SamorzadyDlaPolski. </p>
                    </article>
                </div>
                
                <div class="o-cols__item o-cols__item--padding">
                    <img src=<%= require("./img/assets/join.svg") %> alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="c-contact">
        <div class="bg-gray">
            <div class="o-wrap">                
                <div class="o-cols no-anim">
                    <div class="o-cols__item">
                        <header class="o-header">
                            <h2>Skontaktuj się</h2>
                        </header>
                    </div>
                    
                    <div class="o-cols__item">
                        <address>
                            <p>Region południowy
                            <p>Imię Nazwisko</p>
                            <p><a href="#">e-mail: abc@adres.pl</a>
                            <p><a href="#">tel: 743 - 342 - 430</a></p>
                        </address>
                        
                        <address>
                            <p>Region południowy
                            <p>Imię Nazwisko</p>
                            <p><a href="#">e-mail: abc@adres.pl</a>
                            <p><a href="#">tel: 743 - 342 - 430</a></p>
                        </address>
                        
                        <address>
                            <p>Region południowy
                            <p>Imię Nazwisko</p>
                            <p><a href="#">e-mail: abc@adres.pl</a>
                            <p><a href="#">tel: 743 - 342 - 430</a></p>
                        </address>
                        
                        <address>
                            <p>Region południowy
                            <p>Imię Nazwisko</p>
                            <p><a href="#">e-mail: abc@adres.pl</a>
                            <p><a href="#">tel: 743 - 342 - 430</a></p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
