
            <nav class="c-nav js-nav">
                <ul class="c-nav__menu">
                    <li>
                        <a href="kim-jestesmy.html">Kim jesteśmy</a>
                    </li>
                    
                    <li>
                        <a href="idea.html">Idea</a>
                    </li>
                    
                    <li>
                        <a href="czlonkowie.html">Członkowie</a>
                    </li>
                    
                    <li>
                        <a href="dolacz.html">Dołącz</a>
                    </li>
                    
                    <li>
                        <a href="aktualnosci.html">Aktualności</a>
                    </li>
                    
                    <li>
                        <a href="do-pobrania.html">Do pobrania</a>
                    </li>
                </ul>
            </nav>
