
    <div class="c-newsletter">
        <div class="o-wrap o-section">
            <header class="o-header">
                <h2>Dopisz się do newslettera</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </header>
            
           <div class="o-cols">
               <div class="o-cols__item">
                   
                   <div class="form">
                       <input type="text" placeholder="Twój e-mail">
                       <button type="submit">
                           <span>Wyślij</span>
                       </button>
                   </div>

               </div>
               
               <div class="o-cols__item">
                   <img src=<%= require("./img/assets/email.svg") %> alt="email" width="840">
               </div>
           </div>
        </div>
    </div>

