
    <div class="c-news">
        <div class="o-section bg-gray">
            <header class="o-header">
                <div class="o-wrap">
                    <h2>Aktualności</h2>
                </div>
            </header>
            
            <div class="c-news__items">
                <div class="o-wrap">
                    <div class="o-cols o-cols--3 no-anim">
                        <div class="o-cols__item">
                            <figure class="o-box">
                                <img src=<%= require("./img/news/news-01.jpg") %> alt="" width="520" height="404">
                                
                                <figcaption>
                                    <h2>Lorem ipsum dolor sit amet consectetur</h2>
                                    <time>11.12.2020</time>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    
                                    <a href="#" class="o-more">Więcej</a>
                                </figcaption>
                            </figure>
                        </div>
                        
                        <div class="o-cols__item">
                            <figure class="o-box">
                                <img src=<%= require("./img/news/news-02.jpg") %> alt="" width="520" height="404">
                                
                                <figcaption>
                                    <h2>Lorem ipsum dolor sit amet consectetur</h2>
                                    <time>11.12.2020</time>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    
                                    <a href="#" class="o-more">Więcej</a>
                                </figcaption>
                            </figure>
                        </div>
                        
                        <div class="o-cols__item">
                            <figure class="o-box">
                                <img src=<%= require("./img/news/news-03.jpg") %> alt="" width="520" height="404">
                                
                                <figcaption>
                                    <h2>Lorem ipsum dolor sit amet consectetur</h2>
                                    <time>11.12.2020</time>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    
                                    <a href="#" class="o-more">Więcej</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

