
    <div class="o-section bg-gray">
        <div class="o-wrap">        
            <div class="o-cols o-cols--1_2">
                <div class="o-cols__item">
                    <header class="o-header">
                        <h2>Lorem ipsum dolor sit amet, consectetur</h2>
                    </header>
                    
                    <article class="o-article">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</p>
                    </article>
                </div>
                
                <div class="o-cols__item o-cols__item--alignright">
                    <img src=<%= require("./img/assets/tax.svg") %> alt="">
                </div>
            </div>
        </div>
    </div>
