.o-accordion {
    
    li {
        @extend %rel;
        cursor: pointer;
        
        & > div {
            height: 0;
            padding: 0;
            overflow: hidden;
            
            section {
                padding: 20px 60px;
                
                @media ( max-width: $base + 280px ) {
                	@include responsive-font(base(35), rem(16));
                	@include responsive-padding-left(base(60), rem(20));
                	@include responsive-padding-right(base(60), rem(20));
                }
            }
        }
        
        h4 {
            @extend %rel;
            
            &:after {
                @extend %abs;
                @extend %abs-y;
                @extend %anim;
                right: 5%;
                line-height: 1;
                font: {
                    family: $icomoon;
                    size: rem(30);
                }
                content: "\e900";
                color: $c-red-02;
                
                @media ( max-width: $base + 280px ) {
                	@include responsive-font(base(30), rem(16));
                }
            }
        }
        
        &.is-rollout {
            
            h4 {
                &:after {
                    opacity: 1;
                    transform: scaleY(-1) translateY(50%);
                }
            }
            
            .o-lead {
                &--2 {
                    border-color: transparent;
                }
            }
        }
    }
}

