.o-hamburger {
    @include z-index(hamburger);
    @extend %anim;
    @extend %flex;
    @extend %flex-xy;
    width: 32px; height: 15px;
	cursor: pointer;	

	i {
    	position: absolute;
    	left: 0; top: -12px; z-index: -1;
    	display: block;
    	width: 100%; height: calc(100% + 12px);
	}

    &:after, &:before {
        @extend %abs;
        @extend %abs-pseudo;
        @extend %anim;
        width: 23px;
        height: 3px;
    }
 
    &:after {
        top: calc(100% - 3px);
    }

    &:before {
        top: calc(-100% + 3px);
    }
    
    &:hover {
        &:after, &:before {
            width: 100%;
        }
    }

    &.is-active {
        border-color: transparent !important;

        &:after {
	        width: 130%;
            transform: rotate(45deg) translate(-5px, 5px);
        }
        
        &:before {
	        width: 130%;
            transform: rotate(-45deg) translate(-4px, 8px);            
        }
    }
}

