.c-accordion {
    .o-accordion {
        h4 {
            background-color: $c-red-01;
            padding: 10px 60px;
            font-size: rem(35);
            color: white;
            
            @media ( max-width: $base + 280px ) {
            	@include responsive-font(base(35), rem(16));
            	@include responsive-padding-left(base(60), rem(20));
            	@include responsive-padding-right(base(60), rem(20));
            }
        }
        
        li {
            &:not(:last-child) {
                margin-bottom: 20px;
                
                @media ( max-width: $base + 280px ) {
                	@include responsive-margin-bottom(base(20), rem(10));
                }
            }
        }
        
        section {
            background-color: white;
            border-radius: 0 0 50px 0;
            
            p {
                @extend %lead--3;
                font-weight: $medium;
            }
        }
    }
}