.c-contact {
    .o-cols {
        padding-bottom: 60px;

        &__item {
            &:first-of-type {
                width: 33.33333%;
                
                @media ( max-width: $smartphone + px ) {
                	width: 100%;
                	text-align: center;
                }
            }
            
            &:last-of-type {
                @extend %flex;
                width: 66.66667%;
                
                @media ( max-width: 1440px ) {
                	flex-wrap: wrap;
                }
                
                @media ( max-width: $smartphone + px ) {
                	width: 100%;
                	text-align: center;
                }
                
                address {
                    margin-bottom: 40px;
                    padding: 0 20px;
                    
                    @media ( max-width: 1440px ) {
                        width: 50%;
                    }
                    
                    @media ( max-width: $smartphone_portrait + px ) {
                    	width: 100%;
                    }
                    
                    p {
                        @extend %lead--3;
                    }
                    
                    a {
                        white-space: nowrap;
                        font-weight: $light;
                    }
                }
            }
        }
    }
    
    .o-header {
        @media ( max-width: $smartphone + px ) {
            margin-bottom: 20px;
        }
    }
}