.c-download {
    
    .o-download {
        li {
            margin-bottom: 20px;
            
            @media ( max-width: $base + 280px ) {
            	margin-bottom: base(20);
            }
        }

        a {
            @extend %flex;
            @extend %rel;
            background-color: $c-red-01;
            padding: 25px 80px 25px 60px;
            line-height: 1.5em;
            font: {
                size: rem(25);
                weight: $semibold;
            }
            
            @media ( max-width: $base + 280px ) {
            	@include responsive-font(base(25), rem(16));
            	@include responsive-padding-right(base(80), rem(40));
              	@include responsive-padding-left(base(60), rem(20));
              	@include responsive-padding-top(base(25), rem(10));
              	@include responsive-padding-bottom(base(25), rem(10));
            }

            &:after {
                @extend %abs-pseudo;
                @extend %abs-y;
                right: 40px;
                font: {
                    family: $icomoon;
                    size: rem(50);
                    weight: $light;
                }
                content: "\e902";
                
                @media ( max-width: $base + 280px ) {
                    @include responsive-font(base(50), rem(30));
                    right: base(40);
                }
            }
        }
    }
    
    .o-header {
        padding: {
            left: 20px;
            right: 20px;
        }
    }
    
    .o-wrap {
        @media ( max-width: $tablet_portrait + px ) {
        	display: flex;
            flex-direction: column;	
        }        
        
        .o-header {
            @media ( max-width: $tablet_portrait + px ) {
                order: 2;
            }
        }
        
        .o-cols {
            &--1_2 {
                @media ( max-width: $tablet_portrait + px ) {
                    display: flex;
                    flex-direction: column;
                }
                
                .o-header {
                    @media ( max-width: $tablet_portrait + px ) {
                        order: 1;
                    }
                }
                
                .o-cols__item {
                    &:first-of-type {
                        @media ( max-width: $tablet_portrait + px ) {
                            order: 2;
                        }
                    }
                    
                    &:last-of-type {
                        @media ( max-width: $tablet_portrait + px ) {
                            order: 3;
                        }
                    }

                }
            }
        }
    }
    
    .bg-gray {
        .o-download {
            a {
                background-color: $c-red-02;
                color: white;
                
                &:after {
                    color: $c-red-01;
                }

            }
        }
    }
    
    .bg-red {
        .o-download {
            a {                
                &:after {
                    color: $c-red-02;
                }

            }
        }
    }
    
}