.c-nav {
    margin: 0 0 0 auto;

    &__menu {
        @extend %flex;

        li {
            padding: 0 30px;
            
            @media ( max-width: $base + 280px ) {
                padding: 0 base(30);
            }

            a {
                white-space: nowrap;
                text-transform: uppercase;
                font: {
                    size: rem(20);
                    weight: $semibold;
                }
                line-height: 24px;
                color: $c-red-02;
                
                @media ( max-width: $base + 280px ) {
                	@include responsive-font(base(20), rem(16));
                }
                
                &:hover {
                    .desktop & {
                        color: $c-red-01;
                    }
                }
            }
        }
    }
}
