.c-newsletter {
    background-color: $c-gray-02;

    .o-cols {
        &__item {
            
            &:first-of-type {
                @media ( max-width: $tablet_portrait + px ) {
                    margin-bottom: 40px;
                }
            }
            
            &:last-of-type {
                @extend %rel;
                flex: 1;
                margin-bottom: 100px;
                
                @media ( max-width: $base + 280px ) {
                    //@include responsive-margin-bottom(base(100), rem(50));
                }
                
                @media ( max-width: $tablet_portrait + px ) {
                    display: none;
                }

                img {
                    width: 700px;
                    max-width: 100%;
                    
                    @media ( min-width: $tablet_portrait + 1px ) {
                        position: absolute;
                        top: 70px;
                        right: 0;
                        transform: translateY(-80%);
                    }

                    @media ( max-width: $base + 280px ) {
                        @include responsive-width(base(700), rem(300));
                    }
                }
            }
            
            @media ( max-width: $tablet_portrait + px ) {
            	width: 100%;
            }
        }
    }

    .o-header {
        margin-bottom: 50px;

        p {
            max-width: 480px;
        }
    }
    
    .form {
        @extend %flex;
        
        input[type=text] {
            width: 540px;
            margin-right: 35px;
            
            @media ( max-width: $base + 280px ) {
                @include responsive-width(base(540), rem(150));
                margin-right: base(35);
            }
            
            @media ( max-width: $tablet_portrait + px ) {
                width: 50%;
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
            	width: 100%;
            }
        }
        
        button {
            @extend %btn;
            background-color: $c-red-01;
            color: white;
        }
    }
}
