<% include ./src/includes/head %>
<body>
<noscript>Your browser does not support JavaScript!</noscript>

    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>
    <% include ./src/includes/news-2 %>
    <% include ./src/includes/news-3 %>
    <% include ./src/includes/news-4 %>
    
    <% include ./src/includes/footer %>

</body>
</html>
