<% include ./src/includes/head %>
<body>
<noscript>Your browser does not support JavaScript!</noscript>

    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>
    <% include ./src/includes/download-2 %>
    <% include ./src/includes/footer %>
    <% include ./src/includes/nav %>

</body>
</html>
