<% include ./src/includes/head %>
<body class="home">
<noscript>Your browser does not support JavaScript!</noscript>

    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>
    <% include ./src/includes/hero %>
    <% include ./src/includes/carousel %>
    <% include ./src/includes/join %>
    <% include ./src/includes/news %>
    <% include ./src/includes/newsletter %>
    <% include ./src/includes/footer %>

</body>
</html>
