<% include ./src/includes/head %>
<body>
<noscript>Your browser does not support JavaScript!</noscript>

    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>
    <% include ./src/includes/who-we-are %>
    <% include ./src/includes/markers %>
    <% include ./src/includes/tax %>
    <% include ./src/includes/invest %>
    <% include ./src/includes/stats %>
    <% include ./src/includes/footer %>
    <% include ./src/includes/nav %>

</body>
</html>
